*{
	padding:0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #fddfa7;
}
img{
	width: 30px;
	height: 30px;
}
.nav{
	background-color: #DE7C3C;
	font-size: 32px;
	display: -webkit-flex;
	justify-content: center;
}
.item{
	border: 1px solid #fddfa7;
	text-align: center;
	/* flex: 3; */
	width: 200px;
}
.item1{
	border: 1px solid #fddfa7;
	text-align: center;
	/* flex: 2; */
	width: 200px;
}
.item2{
	border: 1px solid #fddfa7;
	text-align: center;
	/* flex: 1; */
	width: 200px;
}




/* .iPhone{
	width: 375px;
	height: 667px;
	background-color: red;
} */
/* .con{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%, -50%);
	border-radius: 6px;
	background: #ccc;
} 

   .con{
	display: -webkit-flex;
	-webkit-flex:1;
	justify-content: center;
	align-items: center;
}  */